
*.mdf
HotelManager/App_Data/HotelManager_log.ldf
HotelManager/bin/**
HotelManager/obj/**
HotelManager/Web.config
MVCModel/App.config
HotelManager/Web.config
MVCModel/App.config
HotelManager/Web.config
MVCModel/App.config
.vs/HotelManager/v15/.suo
MVCCore/bin/Release/System.Web.WebPages.xml
MVCCore/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/MVCCore/bin/Release
/MVCCore/obj/Release
/MVCData/bin/Release
/MVCData/obj/Release
/MVCDTO/bin/Release
/MVCModel/bin/Release
/MVCDTO/obj/Release
/MVCService/bin/Release
/MVCService/obj/Release
/packages/EntityFramework.6.1.3
