@using MvcReportViewer;

@{
    ViewBag.Title = "Nhập - Xuất - Tồn";
}

<h2>Nhập - Xuất - Tồn</h2>


@Html.MvcReportViewer("/ThanhLongHotel/WarehouseJournal", new { Height = 900, Width = 970, style = "border: none" })
